<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto oso polar.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-xs-2 col-md-2 col-lg-2">
        <p id="nombre">Bosio Guadalupe Lucia</p>
        <p>Full Stack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, minus. Sequi voluptatibus veniam eveniet labore, dolorem et nesciunt! Nam molestias in quia praesentium ratione culpa, libero hic officiis consectetur tempora.</p>
        </span>
    </div>
</div>
