<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>educacion 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque omnis iste nesciunt. Accusamus, dolor ea iste consectetur maiores excepturi facere dolores nihil obcaecati adipisci soluta optio quasi illum quo corporis?</p>
        </ul>
        <ul>
            <li>
                <h1>educacion 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque omnis iste nesciunt. Accusamus, dolor ea iste consectetur maiores excepturi facere dolores nihil obcaecati adipisci soluta optio quasi illum quo corporis?</p>
        </ul>
        <ul>
            <li>
                <h1>educacion 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque omnis iste nesciunt. Accusamus, dolor ea iste consectetur maiores excepturi facere dolores nihil obcaecati adipisci soluta optio quasi illum quo corporis?</p>
        </ul>
        <ul>
            <li>
                <h1>educacion 4</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque omnis iste nesciunt. Accusamus, dolor ea iste consectetur maiores excepturi facere dolores nihil obcaecati adipisci soluta optio quasi illum quo corporis?</p>
        </ul>
    </div>
</div>

